
<!--  views/partials/footer.ejs starts here  -->
</body>
<footer class="footer">
      <div class ="footerbox">
            <div class=" footer-rows"> 
                  <div class="footer-col">
                        <h4>Company info</h4>
                        <ul class="entites">
                              <br>
                              <li><a href=""> Phone number</a></li>
                              <br>
                              <li><a href=""> Location</a></li>
                              <br>
                              <li><a href=""> Email</a></li>
                              <br>
                              <li><a href=""> Fax </a></li>
                        </ul>
                  </div>
                  <div class="footer-col">
                        <h4>Website info</h4>
                        <ul class="entites">
                              <br>
                              <li> <a href=""> Website created by Website enterprise</a></li>
                              <br>
                              <li><a href=""> Privacy Policy </a></li>
                              <br>
                              <li> <a href=""> Terms and Conditions</a></li>
                              <br>
                              <li> <a href=""> 2023 Dahlak Logistics.All rights reserved</a></li>
                        </ul>
                  </div>
                  <div class="footer-col">
                        <h4>FAQ</h4>
                        <ul class="entites">
                              <br>
                              <li><a href=""> What is Dahlak logistics?</a></li>
                              <br>
                              <li><a href=""> Where do you guys operate?</a></li>
                              <br>
                              <li><a href=""> How can we contact you?</a></li>
                              <br>
                              <li><a href=""> Why Dhalak logistics?</a></li>
                        </ul>
                  </div>
                  <div class="footer-col">
                        <h4>Social Media</h4>
                        <ul class="entites">
                              <br>
                              <li> <a href="https://twitter.com/fani_habte" target="_blank"> <i class="fa-brands fa-x-twitter" style="color: white"></i> &#160;&#160;Twitter</a> </li>  
                              <br>
                              <li> <a href="https://www.facebook.com/faniel.teklebrhan/" target="_blank"> <i class="fa-brands fa-facebook-f" style="color: white"></i> &#160;&#160;Facebook </a> </li>
                              <br>
                              <li> <a href="https://www.linkedin.com/in/faniel-habte-b22181245/" target="_blank"> <i class="fa-brands fa-linkedin" style="color: white"></i> &#160;&#160;Linkedin </a> </li>
                             <br>
                              <li> <a href="https://www.instagram.com/f.a.n.i.e.l/" target="_blank"><i class="fa-brands fa-instagram" style="color: white"></i> &#160;&#160;Instagram</a> </li>
                        
                        </ul>
                  </div>
</footer>
</html>