
<!--  views/partials/footer.ejs starts here  -->
<footer class="footer">
      <div class ="footerbox">
            <div class=" footer-rows"> 
                  <div class="footer-col">
                        <h4>Company info</h4>
                        <ul class="entites">
                              <li><a href=""> Phone number</a></li>
                              <li><a href=""> Location</a></li>
                              <li><a href=""> Email</a></li>
                              <li><a href=""> Fax </a></li>
                        </ul>
                  </div>
                  <div class="footer-col">
                        <h4>Website info</h4>
                        <ul class="entites">
                              <li> <a href=""> Website created by Website enterprise</a></li>
                              <li><a href=""> Privacy Policy </a></li>
                              <li> <a href=""> Terms and Conditions</a></li>
                              <li> <a href=""> 2023 Dahlak Logistics.All rights reserved</a></li>
                        </ul>
                  </div>
                  <div class="footer-col">
                        <h4>FAQ</h4>
                        <ul class="entites">
                              <li><a href=""> What is Dahlak logistics?</a></li>
                              <li><a href=""> Where do you guys operate?</a></li>
                              <li><a href=""> How can we contact you?</a></li>
                              <li><a href=""> Why Dhalak logistics?</a></li>
                        </ul>
                  </div>
                  <div class="footer-col">
                        <h4>Social Media</h4>
                        <ul class="entites">
                              <li><a href=""> X </a></li>
                              <li><a href=""> Linkiden </a></li>
                              <li><a href=""> Instagram</a></li>
                              <li><a href=""> Facebook</a></li>
                        </ul>
                  </div>
</footer>
</html>