<!DOCTYPE html>
<html>

<head>
  <title> Dahlak Logistics </title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&family=Poppins:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&family=Poppins:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');
  </style>
  <link rel="stylesheet" href="Css Files/main.css" type="text/css">
</head>

<div class="top-nav">
  <div class="Uppernav">
    <div class="logo">
      <li><a href="/"> Dahlak Logistics</a></li>
      <!-- <img src="your-logo.png" alt="Logo"> -->
    </div>
    <ul class="navigations">
      <li><a href="/">Home</a></li>
      <li><a href="About">About</a></li>
      <li><a href="Services">Services</a></li>
      <li><a href="Contact">Contact</a></li>
      <li><a href="News">News</a></li>
      <li><a href="Locations">Locations</a></li>
      
    </ul>
  </div>
</div>
   
  <!-- navigations -->
  
  