<!DOCTYPE html>
<html>

<head>
  <title> FT</title>
  <link rel="stylesheet" href="Css Files/main.css" type="text/css">
</head>

<body>
  <div class="top-nav">
    <header>

      <div class="logo"><img src="views/images/logo.jpg" alt=""> </div>
      <div class="serving">Serving Washington Ports</div>
      <p><a href="tel:+(206)475-2670">(206)475-2670</a></p>
      <button class="bt"> <a href="tel:+(206)475-2670">
          <h1> Get A Quote </h1>
        </a></button>
  </div>
  <!-- Telephones-->


  <!-- navigations -->
  <nav class="Uppernav">
    <ul>
      <a href="/"> Home </a>
      <a href="About"> About </a>
      <a href="Locations"> Locations </a>
      <a href="Services"> Services</a>
      <a href="News"> News </a>
      <a href="Contact"> Contact</a>
    </ul>
  </nav>
  </header>