<!DOCTYPE html>
<html>

<head>
  <title> faniel habte </title>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&family=Poppins:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&family=Poppins:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');
    
  </style>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  
  
  <link rel="icon" href="/images/code-solid (4).svg" type="image/x-icon">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@700&family=Open+Sans:wght@300&family=Poppins:wght@600&display=swap"
    rel="stylesheet">
</head>

<header>
  

<div class="top-nav">
  <div class="Uppernav">
    <div class="logo">
      <li><a href="/"> <i class="fa-solid fa-code" style="color: #0e5ce1;"></i></a> Faniel Habte </li>
      <!-- <img src="your-logo.png" alt="Logo"> -->
        </div >

          <ul class="navigations">
            <li><a href="/">Home</a></li>
            <li><a href="About">About</a></li>
            <li><a href="Portofolio">Portofolio</a></li>
            <li><a href="https://github.com/FanielHabte" target="_blank" > <i class="fa-brands fa-github"> </i> Github </a>  </li>
          </ul>


          <div>
            <button class="buttons"> Hire me </button>
          </div>
        </div>
        
</div>
  </header>
  <!-- navigations -->
  
  