<!DOCTYPE html>
<html class="htmls">


<head>
  <title> faniel habte </title>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&family=Poppins:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&family=Poppins:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');
    
  </style>
 
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@700&family=Open+Sans:wght@300&family=Poppins:wght@600&family=Space+Grotesk:wght@600&display=swap"
      rel="stylesheet">
  <!-- <script src="/js/Myscript.js"></script> -->
  
  
  <link rel="stylesheet" href="Css Files/main.css" type="text/css">
  <link rel="stylesheet" href="Css Files/transtion.css" type="text/css">
  <link rel="icon" href="/images/code-solid (4).svg" type="image/x-icon">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@700&family=Open+Sans:wght@300&family=Poppins:wght@600&display=swap"
    rel="stylesheet">
</head>


  

<div class="top-nav" >
  <div class="Uppernav">
    <div class="logo">
      <li><a href="/"> <i class="fa-solid fa-code" style="color: #0e5ce1;"></i></a> Faniel Habte </li>
      <!-- <img src="your-logo.png" alt="Logo"> -->
        </div >
        <div class="openMenu"><i class="fa fa-bars"></i></div>
          <ul class="navigations" id="FadeIn">
            
            <li><a href="/" >Home</a></li>
            <br>
            <li><a href="About">About</a></li>
            <br>
            <li><a href="Portofolio">Portofolio</a></li>
            <br>
            <div class="closeMenu"> <i class="fa fa-times"></i> </div>
           <span class="icons"> 
          <li><a href="https://github.com/FanielHabte" target="_blank"> <i class="fa-brands fa-github" style="color: #ffffff"> </i> Github </a> </li> </span>
          
          <a href="mailto: fanielhabte20@gmail.com"> <button class="buttons"> Hire me </button> </a>
          </ul>


          <div>
            
          </div>
        </div>
        
</div>



  <!-- navigations -->
  
  