

<div class="news-boxes-container">
    <div>
        <img src="images/anncou.jpg">
        <p class="Updates-container">
            <br>
            <span class="titles"> Launching </span>
            <br>
            Cpmany first launched 
            <br>
            <button class="buttons"> Read This Article </button>
        </p>
    </div>

   <div>
        <img src="images/logis.jpeg">
        <p class="Updates-container">
            <br>
            <span class="titles"> What We have done </span>
            <br>
            Praesent mollis, tellus ac mattis viverra,
            <br>
            <button class="buttons"> Read This Article </button>
        </p>
    </div>

    <div>
        <img src="images/seattle.jpg">
            <p class="Updates-container">
                <br>
                <span class="titles"> Why Seattle  </span>
                <br>
                Praesent mollis, tellus ac mattis viverra,
                <br>
                <button class="buttons"> Read This Article </button>
            </p>
    </div>

</div>