<div class="last">
    <p class="Updates">
        <span class="up"> Timely </span>
        <br>
        Praesent mollis, tellus ac mattis viverra,
        <br>
        <button class="lm"> Read This Article </button>
    </p>

    <p class="Updates">
        <span class="up"> Read This Article </span>
        <br>
        Praesent mollis, tellus ac mattis viverra,
        <br>
        <button class="lm"> Read This Article </button>
    </p>

    <p class="Updates">
        <span class="up"> Timely </span>
        <br>
        Praesent mollis, tellus ac mattis viverra,
        <br>
        <button class="lm"> Read This Article </button>
    </p>
</div>