<%- include('../partials/header') %>



    <div class="about">
        <h1> Hi Its nice to meet you </h1>
        
        <div class="about-1"> 
            <div class="about-p-one" >
                
                <br> 
                <p> My name is Faniel Habte i am an emegring professional in work force development program call YearUp.sldakfjklsdfhkjlsdafhkjl sdfhasdklf;hkldshf</p>
                 
                <br>

            </div> 
            <div class="img-me">
                <img src="/images/first-pic.jpeg" alt="">
            </div>
        </div>
        

        <div class="about-2">
        <div class="img-asmara">
            <img src="/images/Eritrea-Asmara-72.webp" alt="">
        </div>
            <div class="about-p-two">
              
                <h3>My backgroud</h3>

                <div class="img-asmara2">
                    <img src="/images/Eritrea-Asmara-72.webp" alt="">
                </div>

                <br>
                
                <br>
                <p> &#160;I was born and raised in Eritrea, a small country in East Africa. I am a middle child from a family of five.
                    My
                    upbringing was as a typical family. Even though they faced a lot of adversities, my parents did whatever they could
                    to raise us. In 2017, after Graduating high school with a 3.2 GPA, I went to the Eritrean Institute of Technology
                    (EIT) for six months. But By the end of 2018, I left my country and went to Addis Ababa, Ethiopia, in search of
                    better opportunities and to reunite with the rest of my family living in the United States. After living there for
                    over three years, I arrived in Seattle, where I have been since 2021.
                </p>
                <br>
                
                <p> &#160;After coming to the USA, I worked as a Bookkeeper, which gave me great experience in gathering, analyzing, and
                    managing data. Also, working in this role significantly impacted my professional development. Additionally, I am an
                    Amazon delivery driver. </p>
                <br>
                
            </div>

           

        </div>

        <div class="about-3">
        
            
        
            <div class="about-p-three">

            <h3>Certification and skills</h3>
           
            
            <p> &#160;In the Appdev Track, from which I will graduate in 2024, I am developing my skills in HTML, CSS, JAVA, and
                PYTHON.
                Also, I have trained and earned a certificate for JAVA basics in 2021; Additionally, I am pursuing AWS and python
                Certifications. As a person, I am very self-driven and goal-oriented, which helped me map my future and achieve my
                goals until now. Additionally, I have linked a couple of projects that I have been working on so that anyone of
                interest can track and see my development publicly.</p>
        
            </div>

            <div>
                <img src="/images/skills.pic.JPG" alt="">
            </div>
        </div>
    </body>
<%- include('../partials/footer') %>
  

    

   