<%- include('../partials/header') %>
<ul>
    <li>up</li>
    <li>up</li>
    <li>up</li>
    <li>up</li>
    <li>up</li>
    <li>up</li>
    <li>up</li>
    <li>up</li>
    <li>up</li>



</ul>
<%- include('../partials/updates') %>
<%- include('../partials/footer') %>