<%- include('../partials/header') %>



<link rel="stylesheet" href="Css Files/main.css" type="text/css">

<body>
    <div class="container">
        <div class="Contact-box">
            <H1> Contact </H1>
            <br>
            <p> Frist name
                <br>
                <input class="entry" , type="text">
            </p>

            <p> Last name
                <br>
                <input class="entry" , type="text">
            </p>
            <p> Company name
                <br>
                <input class="entry" , type="text">
            </p>
            <p> Email Phone number
                <br>
                <input class="entry" , type="text">
            </p>
            <p> At which location do you request services?
                <br>
                <input class="entry" , type="text">
            </p>
            <p> How did you hear about us?
                <br>
                <input class="entry" , type="text">
            </p>
            <p> Message
                <br>
                <input class="entry" , type="text">
            </p>
            <br>
            <button class="buttons"> Send messgae </button>
            
        </div>
    </div>
<%- include('../partials/updates') %>
</body>

</html>

    <%- include('../partials/footer') %>