<%- include('../partials/header') %>
<body>
<br>
<br>
<br>
<br>
<br>

    
<!-- <h1 class="titles"> We Promise</h1> -->
<br>
<!-- Promises section -->
<section class="sections">

  <div class="Promises-Container">

    <div class="promisses-left">

      <p class="Promise-first">
        <span class="Promise-head"> I' am Faniel , Web Developer</span>
        <br>
        <br>
       A full stack web-develoepr proficient in HTMl, CSS, Java-Script,express.js, Node.js, python, 
      
      </p>

    </div>
     

   
    <div class="promisses-right"> 
      <div class="Promise-second">
        <span class="Promise-head"> About me </span>
        <br>
        <br>
       
        My name is Faniel - Habte born in Keren and raised in Asmara both cities in Eritrea a small courntry in East Africa. Eritrean Institute of Technology (EIT) for six months. But By the end of 2018, I left my country and went to Addis Ababa, Ethiopia....
      
      <br>
      <br>
      &#160;
      
      <a href=" " class="promise-button"> Learn More <i class="fa-solid fa-arrow-right" style="color: #ffffff;"> </i> </a>

      </div>

      <p class="Promise-third">
        <span class="Promise-head"> My Work </span>
        
        <br>
        <br>
        
        I joined Year-Up's App-Dev Track After working as a bookkepper for over a year in seattle which gave me great experience in gathering, analyzing, and managing data
      
      </p> 

      <br>
      <br>
      &#160;
      
      <a href=" " class="promise-button"> Brows Portofolio <i class="fa-solid fa-arrow-right" style="color: #ffffff;"> </i>
      </a>
      
    </div>

  </div>
</section>

<section class="section-two">
  <h1 class="Promise-head"> Welcome to my page </h1>
  
  <div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_SLBGuRCnNA?si=2XovPZsZhepf1N7U"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  </div>
      <h1 class="Promise-head"> Projects </h1>
  <div class="projects-container">
              
    <div>
      
      <video  width="500px" height="350px" autoplay loop muted>
        <source src= "images/Library _ Loom - 1 September 2023 (1).mp4" type="video/mp4">
      </video>

    </div>

    <div>

      <video width="500px" height="350px" autoplay loop muted>
        <source src="images/Library _ Loom - 1 September 2023 (2).mp4"type="video/mp4">
      </video>
        
    
    </div>

    <div>

      <video width="500px" height="350px"   autoplay loop muted>
        <source src="images/Library _ Loom - 1 September 2023 (3).mp4"type="video/mp4">
       </video>


    </div>

    <div>

      <video width="500px" height="350px" autoplay loop muted>
        <source src="images/Library _ Loom - 1 September 2023 (4).mp4" type="video/mp4">
      </video>
    
    </div>


  </div>

</section>


<section class="section-three">
  

   <h1 class="Promise-head"> Skills </h1>

<div class="skills-container ">

    <div class="javascript-skills">
      <h1 class=" Skills-head  "> Python </h1>
    <p> fsdalkfnsdkljbsdkljaflksdfsdfsdafsdhfjlksdafh
      sdafkhslfdhsdklfa;hskdfhsdkalf
      skfhasdklfhskdlfahsdlkfhlkdshfaklasdhf
    </p>
    </div>

    <div class="javascript-skills">
      <h1 class=" Skills-head  "> Java - Script </h1>

      <p> fsdalkfnsdkljbsdkljaflksdfsdfsdafsdhfjlksdafh
        sdafkhslfdhsdklfa;hskdfhsdkalf
        skfhasdklfhskdlfahsdlkfhlkdshfaklasdhf
      </p>
    </div>

    <div class="HTML-skills">
      <h1 class=" Skills-head "> HTML </h1>

      <p> fsdalkfnsdkljbsdkljaflksdfsdfsdafsdhfjlksdafh
        sdafkhslfdhsdklfa;hskdfhsdkalf
        skfhasdklfhskdlfahsdlkfhlkdshfaklasdhf
      </p>
    </div>

    <div class="CSS-skills">
      <h1 class=" Skills-head  "> CSS </h1>

      <p> fsdalkfnsdkljbsdkljaflksdfsdfsdafsdhfjlksdafh
        sdafkhslfdhsdklfa;hskdfhsdkalf
        skfhasdklfhskdlfahsdlkfhlkdshfaklasdhf
      </p>
    </div>
    <div class="Express-skills">
      <h1 class=" Skills-head  "> Express.JS </h1>

      <p> fsdalkfnsdkljbsdkljaflksdfsdfsdafsdhfjlksdafh
        sdafkhslfdhsdklfa;hskdfhsdkalf
        skfhasdklfhskdlfahsdlkfhlkdshfaklasdhf
      </p>
    </div>

    <div class="node-skills">
      <h1 class=" Skills-head  "> Node.JS </h1>

      <p> fsdalkfnsdkljbsdkljaflksdfsdfsdafsdhfjlksdafh
        sdafkhslfdhsdklfa;hskdfhsdkalf
        skfhasdklfhskdlfahsdlkfhlkdshfaklasdhf
      </p>
    </div>
  </div>
</section>


<section class="resume">

  <h1 class="Promise-head"> Resume </h1>

  <img src="images/resume screenshoot.png" alt="">



</section>



  


  
</body>
<%- include('../partials/footer') %>
