<%- include('../partials/header') %>

<body>

    <link rel="stylesheet" href="Css Files/main.css" type="text/css">
    <div class="portofolio-container">
    
    
    
    
    
        <div class="p-parapgraph">
            <h1> Portfolio</h1>
            
            <p>
            Here are the previews of my previous work. This page is a snippet intended to capture some of the key projects I have
            embarked on. These projects have been instrumental to my growth. As a developer, I always scout for new projects that
            can elevate my skills and be fun. For the full extent of my work, please refer to my Git-hub link
            </p>
        </div>
        <div class="p-container">
            <div class="portofolios">
               
                <video width="auto" height="auto"  autoplay loop muted class="hidden-videos">
                    <source src="/images/Library _ Loom - 1 September 2023 (1).mp4" type="video/mp4">
                </video>
                <img src="/images/seasonal-styles.png" alt="" class=" hidden-images">

                <div class="paragraph-portofolio">

                    <div>
                        <h1> Seasonal Styles</h1>
                        
                        <p> &#160;Projects built with <strong>JQuery</strong> to substitute the vaules in the header img, img the html background and slogan when ever
                            the customer press diffrent seasons. </p>
                    </div>

                    <div class="view-projects-Container">

                        <a href="https://fanielhabte.github.io/seasonal-styles/" target="_blank" class="promise-button"> View Project <i
                                class="fa-solid fa-arrow-right" style="color: #ffffff;"> </i>
                        </a>

                    </div>
                
                </div>

            </div>
            
    
            <div class="portofolios">
                
                <video width="auto" height="auto" autoplay loop  muted class="hidden-videos">
                    <source src="images/Library _ Loom - 1 September 2023 (3).mp4" type="video/mp4">
                </video>
                <img src="/images/webstie-1.png" alt="" class=" hidden-images">

                <div class="paragraph-portofolio">
                
                    <div>
                        <H1> Economic Paradigm </H1>
                        <p> &#160;Built a mock website using  <strong>Express.js</strong> and <strong>Node.js</strong> for people to understand the three biggest Economic Paradigm. Building this website, I built basic  <strong>APIs</strong> to call the different pages and partials and also built a <strong> User page </strong>  that renders random pictures of people and matches them with random Names.</p>
                    </div>
                
                    <div class="view-projects-Container">
                
                        <a href="https://templating-with-ejs.fanihabte.repl.co/" target="_blank" class="promise-button"> View Project <i
                                class="fa-solid fa-arrow-right" style="color: #ffffff;"> </i>
                        </a>
                
                    </div>
                
                </div>

            </div>
    
            <div class="portofolios">
            
                <video width="auto" height="auto" autoplay loop  muted class="hidden-videos">
                    
                    <source src="images/Library _ Loom - 1 September 2023 (2).mp4" type="video/mp4">
                </video>
                <img src="/images/daily-drip.png" alt="" class=" hidden-images">

                <div class="paragraph-portofolio">
                
                    <div>
                        <h1> The Daily Drip </h1>
                        
                        <p> &#160; <strong>The Daily Drip</strong> is a generic coffee shop that I created. It serves several coffees to its loyal customers, hence
                        the name Daily Drip. We just rolled out our new <strong>  Daily specials</strong>, which you can check out by pressing the menu button on the right side of the
                        dark green navigation panel; these are coffee specials for a specific day. This is an <strong> engaging website </strong> where our customers can check the daily specials for the coming days. </p>
                    </div>
                
                    <div class="view-projects-Container">
                
                        <a href="https://fanielhabte.github.io/daily-grind/" target="_blank" class="promise-button"> View Project <i
                                class="fa-solid fa-arrow-right" style="color: #ffffff;"> </i>
                        </a>
                
                    </div>
                
                </div>

            </div>
    
            <!-- <div class="portofolios">
                
                <video width="auto" height="auto" autoplay loop  muted>
                    <source src="images/Library _ Loom - 1 September 2023.mp4" type="video/mp4">
                </video>

                <div class="paragraph-portofolio">
                
                    <div>
                        <p> hi there fksaldhfjhsdkjflhsdjakfhgsdjkagjksadljsdagkjsad </p>
                    </div>
                
                    <div class="view-projects-Container">
                
                        <a href="https://fanielhabte.github.io/seasonal-styles/" target="_blank" class="promise-button"> view projects <i
                                class="fa-solid fa-arrow-right" style="color: #ffffff;"> </i>
                        </a>
                
                    </div>
                
                </div>

            </div> -->
    
            <div class="portofolios">

                <div>
                    <video width="auto" height="auto" autoplay loop muted class="hidden-videos" >
                        <source src="images/Library _ Loom - 1 September 2023 (4).mp4" type="video/mp4">
                    </video>
                    <img src="/images/dahlak-logistics.png" alt="" class=" hidden-images">

                </div>

                

                <div class="paragraph-portofolio">
                
                    <div>
                        <h1> Dahlak Logistics</h1>
                        <p> &#160;<strong> Dahlak Logistics </strong>is a future company trucking and logistics company of a friend of mine. I built a website for him to show his customers and market the <strong> services that the company provides </strong>. I created About, Services, Contact, News, and Locations pages so that it would be easier for customers to navigate
                        through the content. </p>
                    </div>
                
                    <div class="view-projects-Container">
                
                        <a href="https://dahlak-logistics-0bf5e1419f7e.herokuapp.com/" target="_blank" class="promise-button"> View Project <i
                                class="fa-solid fa-arrow-right" style="color: #ffffff;"> </i>
                        </a>
                
                    </div>
                
                </div>
            </div>
    
            <!-- <div class="portofolios">
                
                <video width="auto" height="auto" autoplay loop  muted>
                    <source src="images/Library _ Loom - 8 September 2023.mp4" type="video/mp4">
                </video>
                <div class="paragraph-portofolio">
                
                    <div>
                        <p> Projects built with JQuery to substitute the vaules in the header img, img the html background and slogan when ever the customer press diffrent seasons. </p>
                    </div>
                
                    <div class="view-projects-Container">
                
                        
                            
                            <a href="https://fanielhabte.github.io/seasonal-styles/" target="_blank" class="promise-button"> view projects <i class="fa-solid fa-arrow-right"
                                    style="color: #ffffff;"> </i>
                            </a>
                        
                
                    </div>
                
                </div>
            </div> -->
    
            <div class="portofolios">
               
                <video width="auto" height="auto" autoplay loop  muted class="hidden-videos">
                    <source src="images/Library _ Loom - 8 September 2023 (1).mp4" type="video/mp4">
                </video>

                <img src="/images/swd-game.png" alt="" class=" hidden-images">

                <div class="paragraph-portofolio">
                
                    <div>
                        <h1> SWD Odessey</h1>
                        <p>  &#160; A fun project that I built using<strong> UNITY</strong>. I built this game using the Unity interface and assets available for free on the platform, and to make it easier to
                        play, I <strong> deployed </strong>the final product on the Unity <strong> website </strong> so that anyone could play the game. This game intends to guide students interested in software development on what
                        resources they need to utilize in an engaging and fun way. Building this game was fun, and I grasped substantial knowledge of how<strong> 3D games </strong> are developed in UNITY.  </p>
                    </div>
                
                    <div class="view-projects-Container">
                
                        <a href="https://play.unity.com/mg/other/webgl-builds-364693" target="_blank" class="promise-button"> View Project <i
                                class="fa-solid fa-arrow-right" style="color: #ffffff;"> </i>
                        </a>
                
                    </div>
                
                </div>
            </div>
    
            <!-- <div class="portofolios">
                <video width="auto" height="auto"   muted>
                    <source src="images/Library _ Loom - 1 September 2023 (1).mp4" type="video/mp4">
                </video>
            </div> -->
        </div>
    
    <br>
    
    <div class="retunbutton">
        <a href="/" class="return-home-bt2"> <i class="fa-solid fa-house" style="color: #fafafa;"></i>&#160;Return Home</a>
    </div>
    
    </div>
    
    
</body>





    <%- include('../partials/footer') %>