<%- include('../partials/header') %>

<body>

    <link rel="stylesheet" href="Css Files/main.css" type="text/css">
    <div class="portofolio-container">
    
    
    
    
    
        <div class="p-parapgraph">
            <h1> Portfolio</h1>
            
            <p>
            Here are the previews of my previous work. This page is a snippet intended to capture some of the key projects I have
            embarked on. These projects have been instrumental to my growth. As a developer, I always scout for new projects that
            can elevate my skills and be fun. For full extent of my work please refer to my <li><a
                    href="https://github.com/FanielHabte" target="_blank"> <i class="fa-solid fa-arrow-right"
                        style="color: #ffffff;"> </i>&#160;&#160;<i class="fa-brands fa-github"> </i> Github </a> </li>
            </p>
        </div>
        <div class="p-container">
            <div class="portofolios">
                <p> Hi there</p>
                <video width="auto" height="auto"   muted>
                    <source src="/images/Library _ Loom - 1 September 2023 (1).mp4" type="video/mp4">
                </video>
            </div>
    
            <div class="portofolios">
                <p> Hi there</p>
                <video width="auto" height="auto"   muted>
                    <source src="images/Library _ Loom - 1 September 2023 (3).mp4" type="video/mp4">
                </video>
            </div>
    
            <div class="portofolios">
            <p> Hi there</p>
                <video width="auto" height="auto"   muted>
                    
                    <source src="images/Library _ Loom - 1 September 2023 (2).mp4" type="video/mp4">
                </video>
            </div>
    
            <div class="portofolios">
                <p> Hi there</p>
                <video width="auto" height="auto"   muted>
                    <source src="images/Library _ Loom - 1 September 2023.mp4" type="video/mp4">
                </video>
            </div>
    
            <div class="portofolios">
                <p> Hi there</p>
                <video width="auto" height="auto"   muted>
                    <source src="images/Library _ Loom - 1 September 2023 (4).mp4" type="video/mp4">
                </video>
            </div>
    
            <div class="portofolios">
                <p> Hi there</p>
                <video width="auto" height="auto"  muted>
                    <source src="images/Library _ Loom - 8 September 2023.mp4" type="video/mp4">
                </video>
            </div>
    
            <div class="portofolios">
                <p> Hi there</p>
                <video width="auto" height="auto"   muted>
                    <source src="images/Library _ Loom - 8 September 2023 (1).mp4" type="video/mp4">
                </video>
            </div>
    
            <!-- <div class="portofolios">
                <video width="auto" height="auto"   muted>
                    <source src="images/Library _ Loom - 1 September 2023 (1).mp4" type="video/mp4">
                </video>
            </div> -->
        </div>
    
    <br>
    <div class="retunbutton-2">
        <a href="/" class="return-home-bt"> <i class="fa-solid fa-house" style="color: #fafafa;"></i>&#160;&#160;Return
            home</a>
    
    </div>
    
    </div>
    
    
</body>





    <%- include('../partials/footer') %>