<%- include('../partials/header') %>

<body>

    <link rel="stylesheet" href="Css Files/main.css" type="text/css">
    <div class="portofolio-container">
    
    
    
    
    
        <div class="p-parapgraph">
            <h1> Portfolio</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="p-container">
            <div class="portofolios">
                <video width="auto" height="auto"  autoplay loop muted>
                    <source src="/images/Library _ Loom - 1 September 2023 (1).mp4" type="video/mp4">
                </video>
            </div>
    
            <div class="portofolios">
                <video width="auto" height="auto"  autoplay loop muted>
                    <source src="images/Library _ Loom - 1 September 2023 (3).mp4" type="video/mp4">
                </video>
            </div>
    
            <div class="portofolios">
                <video width="auto" height="auto"  autoplay loop muted>
                    <source src="images/Library _ Loom - 1 September 2023 (2).mp4" type="video/mp4">
                </video>
            </div>
    
            <div class="portofolios">
                <video width="auto" height="auto"  autoplay loop muted>
                    <source src="images/Library _ Loom - 1 September 2023.mp4" type="video/mp4">
                </video>
            </div>
    
            <div class="portofolios">
                <video width="auto" height="auto"  autoplay loop muted>
                    <source src="images/Library _ Loom - 1 September 2023 (4).mp4" type="video/mp4">
                </video>
            </div>
    
            <div class="portofolios">
                <video width="auto" height="auto" autoplay loop muted>
                    <source src="images/Library _ Loom - 1 September 2023 (1).mp4" type="video/mp4">
                </video>
            </div>
    
            <div class="portofolios">
                <video width="auto" height="auto"  autoplay loop muted>
                    <source src="images/Library _ Loom - 1 September 2023 (1).mp4" type="video/mp4">
                </video>
            </div>
    
            <div class="portofolios">
                <video width="auto" height="auto"  autoplay loop muted>
                    <source src="images/Library _ Loom - 1 September 2023 (1).mp4" type="video/mp4">
                </video>
            </div>
        </div>
    
    
    
    
    </div>
    
</body>





    <%- include('../partials/footer') %>