 a:-webkit-any-link {
    text-decoration: none;
    
    /* color: white; */
    
}


*{
    margin: 0;
    padding-left: 0;
    list-style: none ;
    text-decoration: none;
    
}

.img-minwidth{
    display: none;
}

.header{
    padding-bottom: 50px;
}


.top-nav {
    padding-top: 4px;
    margin: auto;
    width: auto;
    height: 100px;
    display: block;
    position: fixed;
    width: 100%;
    margin: 0;
    background-color: #1b1f24;
}



.Uppernav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    font-weight: 300;
    background-color: #1b1f24;
}


.logo {
    font-size: 30px;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    cursor: pointer;
}

.navigations {
    list-style: none;
    display: flex;
    align-items: center;  
    
}
.openMenu{
    display: none;
    color: white;
}
.closeMenu{
    color: white;
    display: none;
}

.navigations li {
    margin: 0 20px;
   
    
}

.navigations a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: 'Lato', sans-serif; 
    
}
.navigations li a:hover {
    color: #36b37e;
    font-weight: 800;
    
}

.nav .top-nav .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;

}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
    line-height: normal;
    color: gray;
}

h1 {
    align-items: center;
    font-family: 'Poltawski Nowy', serif;
    font-weight: 500;
    padding-top: 30px;
}

.Promise-head {
    font-size: 50px;
    color: rgba(245, 245, 245, 0.918);
    font-family: 'Lato', sans-serif;
    background-color: transparent; 
}

.Promise {
    background-color: transparent;
    max-width: 360px;
    /* height: auto; */
    border: 1px solid black;
    box-shadow: 5px;
    margin: auto;
    padding: 20px; 
  
}


.sections{
    background-color: #1b1f24;
    justify-content: space-between;
    background-image: url(/images/mepic.png);
    background-position: 30% center;
    background-repeat: no-repeat;
    padding-bottom: 130px;
    overflow: hidden;
   
}


.titles {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    color: #0a1158;
}


.titles-container{
    justify-content: center;
}

.Promise-first {
  background-color: transparent;
  display: block;
  height: 100px;
  width: 330px;
  padding-left: 20px;
  font-size: 18px;
  
}

.Promise-third{
    background-color: transparent;
    height: 100px;
    width: 400px;
    padding-bottom: 10px;
    font-size: 18px;
    padding-top: 25px;
   
}

.Promise-second{
    background-color: transparent;
    height: 100px;
    width: 400px;
    padding-bottom: 150px; 
    font-size: 18px;
}
 
.promisses-right {
    background-color: transparent;
    row-gap: 50px;
    padding-right: 5%;
}

.promisses-left {
    background-color: transparent;
    align-items: top;
}

.Promises-Container {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:rgba(255, 255, 255, 0.749);
    font-weight: 500;
    margin: 0 auto;
    background-color: transparent;
    padding-bottom: 10px;
    width: 100%;
    margin: 0;
    max-width: 1700px;
}

.promise-button{
 background-color: transparent;
 color: #CCCCCC;
 padding-bottom: 20px;
 font-size: 20px;
 
}

.promise-button:hover { 
    color: white;
    font-weight: 600;

}

.section-two{
    background-color:rgb(45, 52, 63);
    justify-content: space-around;
    width: auto;
    padding-left: 30px;
    padding-bottom: 50px ;
    max-width: 100%;
    
    overflow-x: hidden;
}
.section-two video {
    
    height: auto;
    text-align: center;
    
}

.projects-container{
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 20px;
    display: grid; 
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    padding-left: 10px;
    padding-top: 50px;
    max-width: 1500px;
    text-align: center;

    
        /* grid-template-columns: repeat(auto-fit, minmax(auto-fit, 1fr));
        row-gap: 10px;
        column-gap: 10px;
        display: grid;
        justify-content: space-around, space-between;
        max-width: 100%; */
}

.services-container{
    margin: 70px;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    text-align: center;
    row-gap: 20px;
    display: grid;
  

}

.video{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    /* max-width: 400px; */
    height: auto;
    column-gap: 20px;
    align-items: center;
    justify-content: space-around;

}

.videos{
    width: auto;
    display: block;
}
.videos video{
    width: auto;
    height: 350px;
    justify-content: space-around;
    border-radius: 25px;
}
.hidden-images{
    display: none;
}

.video iframe {
    width: 500px;
    height: 300px;

}
.promises-button-container {
    text-align: center;
    padding-top: 30px;
}
.promises-button-container a {
    font-size: 30px;
    color: #CCCCCC;
}

.promises-button-container a:hover {
    font-weight: 700;
    color: white;
}


h1{
    text-align: center;
    
}


.section-three{
    background-color:#1b1f24;
    text-align: center;
   
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1000px;
    justify-content: space-around;
    margin: auto;
    padding-bottom:40px ;
    align-items: center;
    text-align: center;
 
}

.Skills-head{
    font-family:'Lato', sans-serif;
    color: #36b37e;
}
.javascript-skills {
    text-align: center;

}
.fa-brands.fa-python  {
    color: #306998;
    font-size: 70px;
    padding-top: 10px;
}
.fa-brands.fa-js{
    color: #F7DF1E;
    font-size: 70px;
    padding-top: 10px;
}
.fa-brands.fa-html5 {
    color: #E34F26;
    font-size: 70px;
    padding-top: 10px;
}
.fa-brands.fa-css3 {
    color: #3E8E3E;
    font-size: 70px;
    padding-top: 10px;
}
.fa-brands.fa-node {
    color: #8CC84B;
    font-size: 70px;
    padding-top: 10px;
}
.javascript-skills img{
    height: auto;
    padding-top: 10px;
}
.section-three a {
    font-size: 25px;
    
}
.about{
    padding-top: 130px;
    background-color: #1b1f24;
    color: white;
    font-size: 17px;
}

.resume{
    text-align: center;
    background-color: rgb(45, 52, 63);
    padding-bottom: 50px;
}

.resume img{
    padding-top: 50px;
    height: 770px;
}

.buttons{
    border-radius: 10px;
    margin-top: 10px;
    height: 50px;
    width: auto;
    background-color:#36b37e;
    padding: 0 30px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 12px;
    text-align: right;
}
/* .buttons:hover {
    transform: translateY(-5px);

} */
.retunbutton{
    display: none;
}


nav {
    gap: 10px;
    text-align: center;
}

.footer {
    width: 100%;
    margin: 0;  
    background-color: #1b1f24;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Space Grotesk', sans-serif;
    background-image: url(/images/fani.png);
    background-size: 255px 255px;
    background-repeat: no-repeat;
    background-position: left top;
}
.footer-name-title{
    padding-top: 30px;
    padding-left: 150px;
}


.footer-name-title{
    font-size: 30px;
    color: white;
    background-color: transparent;
    margin-left: 45px;
}

.contact-box{
   padding-right: 25px;
    column-gap: 40px;
}

.email-call{
    display: flex;
    padding-top: 10px;
    column-gap: 15px;
}
.email-call p {
    color: #36b37e;
    font-size: 25px;
}


.contac-box-container{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 55px;
}

.contact-box a {
    color: white;
    font-size: 20px;
}
.footer h3 {
    font-size: 30px;
    color: white;
} 
.email{
    display: block;
    height: fit-content; 
}
.email h3 {
    padding-left: 10px;
    padding-bottom: 20px;
}

.social-icons{
    display: flex;
    column-gap: 10px;
}
.social-icons li {
    padding-top: 10px;
}

.social-meida{
    padding-left: 30px;
    padding-top: 10px;
    
}
.social-meida h2 {
    padding-left: 2%;
    color: white;
}

.social-contact{
    display: flex;
    background-color: transparent;
    width: 100%;
    justify-content: space-between;
}

.fa-brands.fa-x-twitter{
    color: white;
}
.fa-brands.fa-facebook-f{
    color: white;
}
.fa-brands.fa-instagram{
    color: white;
}
.fa-brands.fa-github{
    color: white;
}
.fa-brands.fa-linkedin{
    color: white;
    
}

.fa-brands.fa-facebook-f:hover {
    font-size: 30px;
   color: #3b5998;
}
.fa-brands.fa-instagram:hover {
    font-size: 30px;
    color: #E4405F;

}
.fa-brands.fa-github:hover {
    font-size: 30px;
}
.fa-brands.fa-linkedin:hover {
    font-size: 30px;
    color: #0A66C2;
}

.fa-brands.fa-x-twitter:hover {
    font-size:30px;
    color: black;  
}

.about-1{
    text-align: center;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
        justify-content: space-evenly;
        padding-right: 20px;
        padding-left: 20px;
}

.about h3 {
    font-size: 40px;
    text-align: center;
    color: rgba(245, 245, 245, 0.921);
    
}

.about-1 img{
    padding-top: 30px;
    height: 400px;
    width: 275px;
    border-radius: 25px;
}

.about-p-one{
    width: 500px;
    padding-top: 120px;
}
.about-p-one p {
    text-align: left;
    color: #CCCCCC;
    font-size: 18px;
}

.about-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    column-gap: 70px;
}
.img-asmara2 {
    display: none;
}


.about-2 img {
    height: 400px;
    width: 500px;
    vertical-align: center;
    border-radius: 25px;
    margin-top: 75px;
}

.about-p-two{
    width: 500px;
    padding-top: 50px;
    
}
.about-p-two p {
    padding-top: 10px;
    color: #CCCCCC;
    font-size: 18px;
    margin-left: 20px;
}

.about-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding-right: 20px;
        padding-left: 20px;

}
.about-p-three{
    width: 500px;
    padding-top: 120px;
    

}
.about-p-three p {
    padding-top: 10px;
    color: #CCCCCC;
    font-size: 18px;
}
.about-3 img{
    height: 400px;
    width: 500px;
    border-radius: 25px;

}
.about-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    column-gap: 70px;
}
.experience{
    padding-top: 30px;
}

.experience h3 {
    text-align: center;
    font-size: 45px;
}

.portofolio-container{
    padding-top: 150px;
    background-color: #1b1f24;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
}
.portofolios{
    text-align: center;
    width: 100%;
   
}
.portofolios p {
    color: aliceblue;
        font-size: 15px;
}
.about h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 50px;
    font-weight: 1000;

}

.p-parapgraph{
    text-align: center;
    color: white;
    font-size: medium;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    
}
.p-parapgraph h1{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 50px;
    font-weight: 1000;
}
.p-parapgraph p {
    padding-top: 10px;
    width: fit-content;
    text-align: center;
    color: #CCCCCC;
    
    
}
.p-parapgraph li a {
    color: white;
    
    
}
.p-parapgraph li a:hover {
    background-color: #36b37e;
}
.portofolios{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    max-width: 95%;
}
.paragraph-portofolio{
    vertical-align: center;
    text-align: center;
    align-items: right;
    width: 100%;
    
}
.paragraph-portofolio p {
    
    color: #CCCCCC;
    width: auto;
    font-size: 18px;
    text-align: left;
}
.paragraph-portofolio h1 {
    color: rgba(245, 245, 245, 0.918);
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    padding-bottom: 10px;
}
.view-projects-Container{
    text-align: right;
    padding-top: 40px;
}
.view-projects-Container a {
    font-size: 20px;
   
    
}
.view-projects{
    text-align: 70%;
    width:80%;
    height: 45px;
    background-color: transparent;
    
}



.portofolios video {
    border-radius: 22px;
    margin-top: 10px;
    max-width: 400px;
    height: auto;
    margin-top: 30px;
}

.p-container{ 
    margin: 70px;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    row-gap: 40px;
    column-gap: 70px;
    display: block;
    justify-content: space-around, space-between;
    max-width: 100%;
   
}
.retunbutton-2{
    display: none;
}

@media (max-width:768px) {

    .top-nav{
    width: 100%;
    }
    .Uppernav{
    width: 100%;
    }
    .Promises-Container {
    width: 100%;


    }
    .openMenu {
    display: contents;
    color: white;

    }

    .closeMenu {
    color: white;
    display: contents;
    }

    html{
    width: 100%;
    }

    .navigations{
    height: 100vh;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    color: #0a1158;
    flex-direction: column; 
    z-index: 10;
    justify-content: center; 
    align-items: center; 
    background-color: #1b1f24;
    transition: top 1s ease;
    display: none;
    column-gap: 20px;
    }
    nav .navigations .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    }
    nav .navigations li a:hover {
    background: none;
    background-color: #36b37e;
    font-size: 1.6rem;


    }

    .icons i{
    display: inline-block;
    padding: 12px;
    }

    .resume img {
    padding-top: 10px;
    width: 80%;
    height: auto;
    }

    .videos video {
    width: 100%;
    height: auto;
    }

    .video iframe {
        width: auto;
        height: auto;

    }
    .hidden-images {
        display: block;
        width: 97%;
        height: 250px;
        justify-content: space-around;
        border-radius: 25px;
    }
    .hidden-videos {
        display: none;
    }

    .projects-container{
    padding-top: 10px;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(auto-fit, 1fr));
    padding-right: 20px;

    }
   
    .Promise-head{
        font-size: 35px;
    }

    .Promises-Container  {
    flex-direction: column;
    row-gap: 50px;
    padding-bottom: 30px;
    text-align: center;

    }


    .Promise-first{
    padding: 0;
    
    }
    .Promise-head{
        text-align: center;
    }
   
    .Promise-first p {
        text-align: left;
    }
         span.Promise-first {
             text-align: center;
         }

    .Promise-second{
    padding-top: 25px;
    text-align: center;
    padding-bottom: 90px;
    max-width: 350px;
    }
    
    .Promise-second p {
        text-align: left;
        margin-left: 20px;
    }

    .Promise-third{
        max-width: 350px;
        padding-top: 80px;
    }
        .Promise-third p {
            text-align: left;
            margin-left: 20px;
            
        }

    .promisses-left{
    padding-left: 0;
    font-size:12px ;
    text-align: left;
    }

    .promisses-right{
    text-align: center;
    font: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-right: 0;
    padding-left: 10px;
    padding-top: 10px;

    }
   
    .promise-button{
    padding-right: 20px;
    margin: 0;
    }

    .footer {
    width: auto;
    background-image: none;
    margin: 0;
    background-color: #1b1f24;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Space Grotesk', sans-serif;
    background-position: left top;
    }

    .footer-name-title {
    padding-top: 30px;

    }


    .footer-name-title {
    font-size: 15px;
    color: white;
    background-color: transparent;
    padding-left: 2%;
    margin: 0;
    padding-top: 0;


    }

   

    .email-call {
    display: flex;
    padding-top: 10px;
    width: 100%;


    }

    .email-call p {
    color: #36b37e;
    font-size: 10px;

    }


    .contac-box-container {
    display: flex;
    column-gap: 5px;
    padding-top:0;
    margin: 0;
    padding: 0;
    }
    .contac-box-container h3{
        padding-top: 5px;
        font-size: 1.5rem;
        
    }
    h2.contact-me{
        font-size: 21px;
        color: white;
        
    }

    .contact-box a {
    color: white;
    font-size: 7px;
    }

    .footer h3 {
    font-size: 15px;
    color: white;
    }

    .email {
    display: block;
    height: fit-content;
    }

    .email h3 {
    font-size: 12px;

    }

    .social-icons {
    display: flex;
    column-gap: 10px;
    }

    .social-icons li {
    padding-top: 10px;
    }

    .social-meida {
    
    padding-top: 10px;
    padding-left: 0;

    }


    .social-meida h3 {
    padding-left: 10px;
    }

    .social-contact {
    display: flex;
    background-color: transparent;
    width: 100%;
    justify-content: space-between;
    }
    

    .portofolios{
    border: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    }

    .portofolios video{
    width: 80%;
        border-radius: none;
        margin-top: none;
        box-shadow: none;
        padding: 0;
        background-color: none ;

    }

    .about-p-one {
    width: 500px;
    padding-top: 20px;
    text-align: center;
    }

    .about-p-three h3{
        font-family: 'Space Grotesk', sans-serif;
            font-size: 35px;
            font-weight: 1000;
            text-align: center;
            padding-bottom: 20px;

    }
         .about-p-three{
            padding-top: 20px;
         }

        .about-p-two h3 {
            font-family: 'Space Grotesk', sans-serif;
            font-size: 35px;
            font-weight: 1000;
            text-align: center;
            padding-bottom: 20px;
    
        }
        
        
    .about h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 35px;
    font-weight: 1000;
    }

    .p-container{
    width: 100%;
    }


    .p-container {
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 10px;
    text-align: center;

    display: grid;
    justify-content: space-around, space-between;
    }
    .about-2 img {
        
        margin-top: 0;
    }
      

    .about-3 img {
        padding-top: 20px;
        width: 80%;  
        height: auto;  
                                          
    }
    .about-3 div {
        text-align: center;

    }
    .about-3 p {
        text-align: left;
    }
    .img-asmara{
        display: none;
    }

    .img-asmara2 {
    display: contents;
    }

    .img-asmara2 img {
        padding-top: 20px;
        width: 100%;
        height: auto; 
    }
    .about-4 {
        width: 100%;
    }

    .about-4 .img-asmara2 img{
    width: 80%;
    height: auto;
    }
    .about-4-paragraph {
    width: 100%;
    
    
    }
    .about-4-paragraph p {
    width: 100%;
    padding-left: 0;
    text-align: left;
    }
    


    .img-asmara img {
    width: 100%;
    height: auto;
    }

    .img-me img{
    width: 100%;
    height: auto;
    }


    .section-three{
    width: 100%;
    }
    .sections{
    width: 100%;
    background-image: none;
    padding-bottom: 90px;
    }

    .skills-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    justify-content: space-between;
    text-align: center;

    }
    .img-minwidth {
    display: contents;
    width: 100%;
    height: auto;

    }
    .img-minwidth img {
    width: 100%;
    height: auto;
   
    }
.return-home-bt2 {
    display: contents;
    color: aliceblue;
    font-family: 'Space Grotesk', sans-serif;
    padding-left: 20px;
}

.retunbutton {
    display: contents;
    width: auto;
    /* padding-left: 50px; */
    padding-top: 20px;
    
}
.retunbutton a,i {
    padding-left: 20px;
    
}


.paragraph-portofolio p {

    color: #CCCCCC;
    width: auto;
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
}

.paragraph-portofolio h1 {
    color: #36b37e;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
}
.view-projects-Container{
    padding-top: 10px;
    text-align: center;
}

}


/* height: 50px;
width: auto;
background-color:#36b37e;
padding: 0 30px;
font-family: 'Lato',
sans-serif;
color: white;
font-size: large;
font-weight: 700; */


